<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipe.dao.IndexDao">

  <resultMap type="Index" id="IndexMap">
    <id column="BNO"    property="bno"/>
    <result column="MNO"    property="mno"/>
    <result column="TITLE"    property="title"/>
    <result column="M_PHOTO"    property="m_photo"/>
    <result column="NICK"    property="nick"/>
    <result column="PHOTO"    property="photo"/>
    <result column="TIME"    property="time"/>
    <result column="LEVEL"    property="level"/>
  </resultMap>

  <resultMap type="MainRecipe" id="MainRecipeMap">
    <id column="BNO"    property="bno"/>
    <result column="MNO"    property="mno"/>
    <result column="M_PHOTO"    property="m_photo"/>
    <result column="PHOTO"    property="photo"/>
    <result column="NICK"    property="nick"/>
    <result column="TITLE"    property="title"/>
    <result column="TIME"    property="time"/>
    <result column="W_DT"    property="w_dt"/>
    <result column="C_FOOD"    property="c_food"/>
    <result column="C_SITU"    property="c_situ"/>
    <result column="C_NARA"    property="c_nara"/>
    <result column="C_COOK"    property="c_cook"/>
    <result column="PNO"    property="pno"/>
    <result column="COUN"    property="cont"/>
    <result column="P_URL"    property="p_url"/>
    <result column="TNAME"    property="tname"/>
  </resultMap>
  
  <!-- index 페이지 카드 4개 뽑기 -->
  <select id="selectIndexList" resultMap="IndexMap">
    select recipe.bno,recipe.title,recipe.m_photo,recipe.time,recipe.level,member.mno,member.nick,member.photo
    from member,recipe
    where member.mno=recipe.mno order by disc recipe.bno desc limit 0,4;
  </select>

  <!-- MainRecipe 페이지 카드 생성순 4개 뽑기 -->  
  <select id="MainRecipeList" resultMap="MainRecipeMap">
    select recipe.bno,recipe.title,recipe.m_photo,recipe.time,recipe.level,recipe.c_food,recipe.c_nara,recipe.c_situ,recipe.c_cook,recipe.w_dt,
    member.mno,member.nick,member.photo,
    r_photo.pno,r_photo.cont, r_photo.p_url,
    group_concat(distinct " #",tag.tname) as tname
    from member,recipe,r_photo,food,tag
    where member.mno=recipe.mno and recipe.bno=r_photo.bno and food.tno=tag.tno and recipe.bno=food.bno
    group by recipe.bno order by recipe.bno desc limit 0,4;
  </select>

 
  <!--
  MainRecipe 페이지 카드 조회수순 4개 뽑기  
  <select id="MainRecipeCountList" resultMap="MainRecipeMap">
	select recipe.bno,recipe.title,recipe.m_photo,recipe.time,recipe.level,recipe.c_food,recipe.c_nara,recipe.c_situ,recipe.c_cook,recipe.w_dt,
	member.mno,member.nick,member.photo,
	r_photo.pno,r_photo.cont, r_photo.p_url,
	group_concat(distinct " #",tag.tname) as tname
	from member,recipe,r_photo,food,tag
	where member.mno=recipe.mno and recipe.bno=r_photo.bno and food.tno=tag.tno and recipe.bno=food.bno
	group by recipe.bno order by recipe.count desc limit 0,4;
  </select>
  --> 

  <!-- 레시피 순위 페이지 카드 3개 뽑기 -->
  <select id="selectIndexRankingList" resultMap="IndexMap" parameterType="int">
    select recipe.bno,recipe.title,recipe.m_photo,recipe.time,recipe.level,member.mno,member.nick,member.photo
    from member,recipe
    where member.mno = #{mno} and member.mno=recipe.mno order by recipe.count desc limit 0,3;
  </select>
    
</mapper>
