#titleimg {
  position: relative;
  top: -10px;
}

*{
  font-family: '옛날목욕탕';
}

li {
	list-style:none;
}

#logout {
	cursor: pointer;
}

#side {
  border: 0px solid skyblue;
}

#nick_view { 
  font-size: 20px;
}
#side {
	text-align: center;
	border-right: 2px solid lightgray; 
	border-bottom: 2px solid lightgray;
	border-radius: 0 0 30px 0;
  padding: 20px;
}

.my_ {
	font-size: 15px;
}

.my_img {
	width: 200px;
	height: 200px;
	cursor: pointer;
}

.my_intro {
	border: 1px solid lightgray; 
  border-radius: 20px;
  padding: 10px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
  max-height: 135px;
}

.my_intro2 {
	text-align: left;
  border: 1px solid lightgray; 
  border-radius: 20px;
  padding: 10px;
  width: 210px;
  margin-left: auto;
  margin-right: auto;
}

.my_title {
	border-bottom: 1px solid lightgray;
	border-left: 10px solid red;
} 

.my_title_con {
	font-size: 40px;
	padding-left: 30px;
	display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my_list_date {
	color: gray;
  font-style: italic;
  text-align: right;
}

.my_title_cate {
	font-size: 17px;
	color: gray;
	padding-left: 15px;
	padding-top: 27px;
	width: 120px;
}

.delete_update {
	padding-top: 8px;
	text-align: center;
	width: 97px;
}

.date {
	padding-top: 26px;
	color: gray;
	font-style: italic;
	text-align: right;
}

.my_con {
	text-align: center;
}

.my_con_img {
	width: 700px;
  height: 500px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.reply_btn {
	text-align: right;
	margin-top: 10px;
}

.reply_mem {
	margin-bottom: 10px;
}

.review {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

.reply_update {
	margin-left: 30px;
}

.reply_delete {
	margin-left: -5px;
}

